server {
    listen ${NGINX_PORT};
    server_name ${NGINX_SERVER_NAME};

    
    ${CERTBOT_CONFIG}
    

    location ^~ /chat/ {
        root /app;
        index index.html;
        rewrite ^/chat/(apps|chat|app/[^/]+)(/.*)?$ /chat/ last;
        # 安全控制
        disable_symlinks on;
    }

    ${HTTPS_CONFIG}
}